 body {
    margin: 0 auto;
    width: 320px;

 }

 .logo {
    font-family: Pacifico;
    font-size: 40px;
 }

 .footerLogo {
    font-family: Pacifico;
    font-size: 15px;
 }

 .image2 {
    position: absolute;
    right: 10px;
 }

 .wrapper {
    position: relative;
    height: 320px;
 }

 .image3 {
    position: absolute;
    left: 10px;
    top: 140px;
 }

 .aboutHeader {
    font-family: Knewave;
    font-weight: 400;

 }

 .aboutWrapper {
    padding: 10px;
    font-family: Knewave;
 }

 .memories {
    color: rgb(95, 26, 26);
 }

 .aboutContent {
    font-weight: 400;
 }

 .gallery {
    padding: 10px;
    font-family: Knewave;
    background-color: #f7f7f7;
    height: 625px;
 }

 .galleryTitle {
    font-weight: 400;
    padding-left: 100px;
 }

 .gallerySubTitle {
    font-weight: 400;
    padding-left: 50px;
    color: rgb(95, 26, 26);
 }

 .img {
    max-width: 20px;
    max-height: 20px;
    right: 70px;
    top: 30px;
    position: absolute;
 }

 .hamburger {
    max-width: 25px;
    max-height: 25px;
    right: 10px;
    top: 30px;
    position: absolute;
 }

 .vert {
    max-width: 25px;
    max-height: 25px;
    right: 35px;
    top: 30px;
    position: absolute;
    font-weight: bold;
 }

 .number {
    max-width: 25px;
    max-height: 25px;
    right: 55px;
    top: 20px;
    position: absolute;
    font-weight: bold;
 }

 .navigation {
    position: relative;
    height: 80px;
 }

 .image1 {
    background: fixed;
 }

 .text1 {
    position: absolute;
    padding-left: 5%;
    padding-top: 60%;
    font-family: Knewave;
    font-size: 35px;
    color: aliceblue;
    letter-spacing: 4px;
 }

 .text2 {
    position: absolute;
    padding-left: 5%;
    padding-top: 70%;
    font-family: Knewave;
    font-size: 35px;
    letter-spacing: 4px;
    color: rgb(95, 26, 26);
 }

 .carousele {
    position: relative;
 }

 .controllers {
    position: absolute;
    bottom: 50px;
    font-size: 50px;
    width: 100%;
 }

 .next {
    border: 2px solid white;
    color: white;
    position: absolute;
    bottom: 25px;
    left: 90px;
    padding: 0 15px;

 }

 .prev {
    border: 2px solid rgb(255, 253, 253);
    color: white;
    position: absolute;
    bottom: 25px;
    left: 20px;
    padding: 0 15px;
 }

 footer {
    background-color: #edeff2;
    height: 200px;
    position: relative;
    text-align: center;
 }

 .follow {
    font-family: Knewave;
    margin-top: 0;
    padding-top: 15px;
 }

 .copyright {
    font-family: Knewave;
    font-size: 12px;
 }

 .icons {
    display: inline-block;
 }

 .google {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
 }

 .facebook {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
 }

 .twitter {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
 }